#ignore logs folder as that will be created in the code and is personal
logs/

#ignore other folders
__pycache__/
enaBrowserTools-0.0.3/
aspera_tests/
script_tests/
jocelyn_scripts/


#ignore aspera files and csv files
aspera_dsa.openssh
aspera_dsa.openssh.pub
*.csv
!test.csv
*.out
*.sh
!pipelineScript.sh
!cleanup_job.sh
*.bat

broken_workflow.py
helloWorld.py
